* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.home-container {
    background: url("./images/snake01.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100wh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 100px;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #030731,
      0 0 21px #000000,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
    padding: 0 0 30px 0;
    z-index: 1;
}

.home-btn {
    color: white;
    background: black;
    font-size: 30px;
    font-variant: small-caps;
    width: 150px;
    height: 70px;
    border-radius: 20px;
    top: 30vh;
    left: 40%;
    box-shadow: 0 0 7px #fff,
        0 0 10px #030731,
        0 0 21px #000000,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;;
}

.game-container {
    /* border: 2px solid blue; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.game-subcontainer-left {
    /* border: 2px solid blue; */
    width: 70%;
    height: 100%;
    /* min-width: 700px; */
    /* background-color: black; */
    background: url(./images/snake02.jpg) no-repeat center right fixed;
    background-size: cover;
    max-width: 70vw;
    max-height: 100vh;
    
}

.game-board-container {
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#game-board {
    border: 3px solid rgba(11, 5, 41, 0.514);
    background-color: rgba(255, 255, 255, 0.263);
    aspect-ratio: 1/1;
    height: clamp(300px, 80vw, 100%);
    max-width: 68vw;
    /* padding-bottom: 100%; */
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake {
    background-color: hsl(200, 100%, 50%);
    border: .25vmin solid black;
}

.food {
    background-color: hsl(50, 100%, 50%);
    border: .25vmin solid black;
}

.game-subcontainer-right {
    border: 8px solid black;
    width: 30%;
    height: 100%;
    background: url(./images/snake04.jpg) no-repeat center center fixed;
    background-size: cover;
    box-shadow: inset 0px 0px 25px 25px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    z-index: 1;
}

#game-snake-title {
    /* border: 2px solid red; */
    font-size: 40px;
    padding: 5% 0 10% 0 ;
    width: 100%;
    text-align: center;
}

.game-arrow-container {
    border: 2px solid red;
    display: grid;
    width: 100%;
    width: 200px;
    height: 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.game-arrowsq {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-arrow {
    height: 50px;
    width: 50px;
    filter: 
        invert(100%) 
        sepia(0%) 
        saturate(7500%) 
        hue-rotate(136deg) 
        brightness(126%) 
        drop-shadow( 0 0 7px #0ff)
        drop-shadow( 0 0 10px #030731)
        drop-shadow( 0 0 21px #000000 )
        drop-shadow( 0 0 42px #0fa )
        drop-shadow( 0 0 92px #0fa )
        contrast(117%);
}