:root {
    --fontsize: 18px;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    user-select: none;
}

.home-container {
    background: url("./images/snake01.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100wh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 100px;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #030731,
      0 0 21px #000000,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
    padding: 0 0 30px 0;
    z-index: 1;
}

.home-btn {
    color: white;
    background: black;
    font-size: 30px;
    font-variant: small-caps;
    width: 150px;
    height: 70px;
    border-radius: 20px;
    top: 30vh;
    left: 40%;
    box-shadow: 0 0 7px #fff,
        0 0 10px #030731,
        0 0 21px #000000,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;;
}

.game-container {
    border: 2px solid blue;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.game-subcontainer-left {
    /* border: 2px solid blue; */
    max-width: 100%;
    height: 100%;
    min-height: 650px;
    /* min-width: 700px; */
    width: 70%;
    background-color: black;
    background: url(./images/snake02.jpg) no-repeat center right fixed;
    background-size: cover;
    /* max-width: 70vw; */
    max-height: 100vh;
    
}

.game-board-container {
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#game-board {
    border: 3px solid rgba(11, 5, 41, 0.514);
    background-color: rgba(255, 255, 255, 0.263);
    aspect-ratio: 1/1;
    height: clamp(300px, 80vw, 100%);
    /* max-width: 68vw; */
    /* padding-bottom: 100%; */
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake {
    /* background-color: hsl(200, 100%, 50%); */
    background: rgb(17,0,121);
    background: radial-gradient(circle, rgba(28,121,0,1) 40%, rgba(124,252,70,1) 42%, rgba(0,77,0,0) 70%, rgba(29,59,27,0) 87%, rgba(39,60,30,1) 89%, rgba(69,145,66,0) 100%);
    border-radius: 50%;
    /* border: .25vmin solid black; */
}

.snakehead {
    border-radius: 50%;
    /* padding-top:100%; */
    /* border: .25vmin solid black; */
    background-image: url(./images/snakehead01.png);
    filter: invert(75%) sepia(73%) saturate(2799%) hue-rotate(79deg) brightness(94%) contrast(101%);
    background-color: rgba(70, 122, 20, 1);
    background-size: contain;
    
}

.food {
    background: radial-gradient(circle, rgba(4,11,2,1) 0%, rgba(236,227,175,1) 28%, rgba(0,54,255,1) 45%, rgba(27,39,59,0) 51%, rgba(39,60,30,0) 89%, rgba(3,17,2,0) 100%);
    border-radius: 50%;
    /* border: .25vmin solid black; */
}

.game-subcontainer-right {
    border: 8px solid black;
    width: 30%;
    min-width: 400px;
    height: 100%;
    min-height: 650px;
    background: url(./images/snake04.jpg) no-repeat center center fixed;
    background-size: cover;
    box-shadow: inset 0px 0px 25px 25px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

.game-titlescore-container {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

#game-snake-title {
    /* border: 2px solid red; */
    font-size: 40px;
    /* padding: 5% 0 10% 0 ; */
    padding: 0;
    width: 100%;
    text-align: center;
}

.game-score-container {
    border: 3px solid rgba(11, 5, 41, 0.514);
    display: table-cell;
    font-size: 20px;
    color: black;
    background-color: rgba(255, 255, 255, 0.263);
    width: 80%;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    color: white;
    
}

.game-arrow-container {
    /* border: 2px solid red; */
    display: grid;
    width: 100%;
    width: 200px;
    height: 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.game-arrowsq {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-arrow {
    height: 50px;
    width: 50px;
    filter: 
        invert(100%) 
        sepia(0%) 
        saturate(7500%) 
        hue-rotate(136deg) 
        brightness(126%) 
        drop-shadow( 0 0 7px #0ff)
        drop-shadow( 0 0 10px #030731)
        drop-shadow( 0 0 21px #000000 )
        drop-shadow( 0 0 42px #0fa )
        drop-shadow( 0 0 92px #0fa )
        contrast(117%);
}

.game-arrow:hover {
    cursor: pointer;
}

.game-modifier-container {
    /* border: 2px solid red; */
    width: 100%;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-snakespeed-container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

.game-snakespeed-title {
    /* border: 2px solid red; */
    font-size: var(--fontsize);
    width: 180px;
    text-align: right;
    padding-right: calc(var(--fontsize) / 4);
}
.game-snakespeed-value {
    font-size: var(--fontsize);
    width: 60px;
    padding-right: calc(var(--fontsize) + 10px);
}

.game-button-container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
}

.game-button {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    color:black;
    background: white;
    font-size: calc(var(--fontsize) + 5px);
    font-weight: 600;
    text-align: center;
    /* justify-self: center; */
    display: table-cell;
    vertical-align: middle;
    filter: 
        invert(100%) 
        sepia(0%) 
        saturate(7500%) 
        hue-rotate(136deg) 
        brightness(126%) 
        drop-shadow( 0 0 7px #0ff)
        drop-shadow( 0 0 10px #030731)
        drop-shadow( 0 0 12px #0fa )
        drop-shadow( 0 0 21px #000000 )
        /* drop-shadow( 0 0 92px #0fa ) */
        contrast(117%);
    user-select: none;
}

.game-button:hover {
    cursor: pointer;
}


.game-snakelength-container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

.game-snakelength-title {
    font-size: var(--fontsize);
    width: 180px;
    text-align: right;
    padding-right: calc(var(--fontsize) / 4);
}
.game-snakelength-value {
    /* border: 2px solid red; */
    font-size: var(--fontsize);
    width: 60px;
    padding-right: calc(var(--fontsize) + 10px);
}

.game-return-container {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.game-return-button {
    width: 160px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    color:black;
    background: white;
    font-size: calc(var(--fontsize));
    font-weight: 600;
    text-align: center;
    /* justify-self: center; */
    display: table-cell;
    vertical-align: middle;
    filter: 
        invert(100%) 
        sepia(0%) 
        saturate(7500%) 
        hue-rotate(136deg) 
        brightness(126%) 
        drop-shadow( 0 0 7px #0ff)
        drop-shadow( 0 0 10px #030731)
        drop-shadow( 0 0 12px #0fa )
        drop-shadow( 0 0 21px #000000 )
        /* drop-shadow( 0 0 92px #0fa ) */
        contrast(117%);
    user-select: none;
}

.game-return-button:hover {
    cursor: pointer;
}
